
/* Mihir */
.indexpart1>h1{
    color:#8934eb;
    font-size: 80px;
    width: 100%;
    font-family: 'MyFont';
    margin-bottom:0;
    display: flex;
    align-items: center;
    flex-direction: column;
}


@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(../../fonts/SAMAN___.TTF) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
body{
    margin:0%;
    height: 100%;
   
   
}
.main{
    background-image: url(../../images/shauryastudying.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center bottom ;
    background-color: rgb(242, 235, 243);
    
}
html{
    height: 100%;
}
@media only screen and (max-width: 900px) {
    .main {
      background-color: rgb(242, 235, 243);
      background-image: none;
    }
  }

  @media only screen and (max-width: 450px) {
  }

/* .body-light{
    background: linear-gradient(-45deg, #e7e6e9, #d6d4d4, #edf0ef, #d7ecec);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}
.body-dark{
    background: linear-gradient(-45deg, #7e7e7e, #858585, #8b8b8b, #7e7e7e);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
} */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




/* Category component */
.category{ 
    margin:20px;
    width:90px;
    height:80px;
    word-wrap:break-word;
    border-radius:15px;
    border:none;
    margin-top: 10%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.274);
    cursor: pointer;
    padding-bottom: 67px;
    background-color: #fffefeb9;
}

.inline-box{
    display: inline;
    width: 95%;
}
.inline{
    display: inline;
    height: 100%;
}

.formPart{
    margin-top:4%;
    background-color:rgba(245, 245, 245, 0.801);
    max-width: 50%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding:40px;
    border-radius:10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.274);
}
/* index page footer */
footer{
    clear: both;
    height: 100px;
    background: rgb(241, 241, 241);
    width: 99.99%;
    border-top: 1px solid rgba(207, 207, 207, 0.37);
    box-shadow: 0 10px 20px 5px rgba(115, 115, 115, 0.295);
    text-align: center;
}

.footer-text{
        margin-top:40px;
        width: 100%;
}

.footer-text>a{
    color: #5c5c5c;
    text-decoration: none;
}



/* Shaurya */


.Assignment{
    display:flex;
    align-items: center;
}

.User{
    display: Flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.UserPic{
    width:70%;
}

.GoLive{
    position:fixed;
    right:10px;
    top:100px;
}

.videoform{
    display:block;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: rgb(242, 235, 243);
    padding:20px;
    border-radius:15px;
}

.label{
    color: #5c5c5c;
    font-family: 'Inter', sans-serif;
    font-size:14px;
    padding-top: 10px;
    padding-left: 2px;
}

/* teacherDashboard */
.gridContainer{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.fade-out{
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.kid{
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 20%;
    margin-top: 30vh;
}